<link rel="stylesheet" href="/public/style/top-nav.css">
<script src="/public/js/top-nav.js" defer></script>

<nav class = "about-nav">
    <div class = "about-nav-links">
        <ul >
            <li><a href="/about_diabetes">About Diabetes </a> </li>
            <li><a href="/about_team">About This Website </a> </li>
            
        </ul>         
    </div>
</nav>