<link rel="stylesheet" href="/public/style/top-nav.css">
<script src="/public/js/top-nav.js" defer></script>

<nav class = "top-nav">
    <a href="#" class="toggle-button">
        <span class="bar"> </span>
        <span class="bar"> </span>
        <span class="bar"> </span>    
    </a>    
    <div class = "nav-links" >
        <ul>
            <li><a href="/home/patient_dashboard">Dashboard </a> </li>
            {{!-- <li><a href="/about_diabetes">About Diabetes </a> </li>
            <li><a href="/about_team">About This Website </a> </li> --}}
            <li><a href="/home/record_health_data">Record Health Data Today</a> </li>
            <li><a href="/home/leaderboard">Leaderboard </a> </li>
            <li><a href="/home/health_history">History of Recording</a> </li>
        </ul>

    </div>

</nav>