<link rel="stylesheet" href="../public/style/login.css">

{{> about-top-nav}}
{{> p-top-nav}}

<form action="/home/changePassword" method="POST">
<div class="login_portal">
    <div class="login_start_element main_text" id="login">
        <h2>Update pasword</h2>
        {{#if message }}
        <h3> {{message}}</h3>
        {{/if}}
    </div>
    
    <div class = "main_text" id="details" style = "height: 80vh;">
        <ul id ="list_vert">
            <li >
                <label for="old">Current Password:</label>
            </li>
            <li>
                <input class= "login_start_element login_start_box " 
                type = "password" name="old" placeholder="Please enter current password" required> </input>
            </li>
            <li>
                <label for="new">New Password: </label>
            </li>
            <li>
                <input class= "login_start_element login_start_box" 
                type = "password" name="new" minlength="8" placeholder="Please enter new password" required> </input>
            </li>
            <li>
                <label for="confirm">Confirm Password: </label>
            </li>
            <li>
                <input class= "login_start_element login_start_box" 
                type = "password" name="confirm" minlength="8" placeholder="Please enter new password" required> </input>
            </li>
        </ul>
    </div>
        
    
    <div class = "main_text" id="change">
        
        <button type="sumbit">save</button>
        
    </div>

</div>
</form>

{{> logout}}
